.zero{
	background-color:orange;
	padding:15px;
	margin:-9px;
}
.zero1{
	padding:10px;
	margin:10px;
	background-color:white;
	text-align:center;
	font-size: 50px;
	font-style: italic;
}
.zero2{
	padding:150px;
	margin:-20px;
	background-color:orange;

}
